<form method="post" action="/">
  <input type="text" placeholder="Amazon URL" name="url" value="<%= params[:url] %>" />
  <input type="submit" />
</form>

<% if @result %>

<h1><%= @result['name'] %></h1>
  <% @result['asin'][:wins].each do |win| %>
    <p>Win - <a href="<%= win %>"><%= win %></a></p>
  <% end %>
  <% @result['asin'][:fails].each do |fail| %>
    <p>Fail - <a href="<%= fail %>"><%= fail %></a></p>
  <% end %>



<% end %>